.initiatives .nav-link.active {
    text-decoration: underline;
    text-decoration-thickness: 0.25rem;
    text-underline-position: under;
    text-decoration-color: rgb(var(--bs-secondary-rgb));
}
.initiatives .nav-link {
    color: rgb(var(--gray));
}

.initiatives .table-responsive {
    margin: 0 -1.25rem 0.5rem;
}
.initiatives .table {
    border-color: rgb(var(--light-gray));
    margin: 0;
}
.initiatives .table tr:last-child td {
    border-bottom: none;
}
.initiatives .table td, 
.initiatives .table th {
    vertical-align: middle;
    padding: 0.75rem;
}
.initiatives .table td:first-child,
.initiatives .table th:first-child {
    padding-left: 1.5rem;
}
.initiatives .table td:last-child,
.initiatives .table th:last-child {
    padding-right: 1.5rem;
}
.initiatives .table .badge.bg-secondary {
    font-weight: normal;
    padding: 2px 5px;
    border-radius: 3px;
}
.initiatives .table .progress-bar {
    background-color: rgb(var(--green));
    padding: 3px;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}